.dataframe {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px; 
    border-collapse: 
    collapse; border-spacing: 0;
    padding: 5px;
    margin: 10px;
}

.dataframe thead {
    border-bottom: 1pt solid black;    
}

.dataframe th {
    font-weight: bold;
}

.dataframe td, th {  
    border: 1px solid transparent; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}

.dataframe td {  
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */        
.dataframe tr:nth-child(even) td, th { background: #FEFEFE; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
.dataframe tr:nth-child(odd) { background:  #F6F6F6; }

.dataframe tr td:hover { background: #666; color: #FFF; }  
/* Hover cell effect! */
